version: "3.9"

services:
  server:
    build: ./server
    container_name: chaiserver
    ports:
      - "4000:4000"
    networks:
      - fullstack-net
    restart: unless-stopped
  client:
    build: ./client
    container_name: chaiclient
    ports:
      - "5000:3000"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped
networks:
  fullstack-net:
    driver: bridge
